*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth
    ;
}

:root{

    --navbar-height: 59px;

}

#navbar{

display:flex;
align-items: center;
position: absolute;
top: 0px;

}

#logo{
    margin: -8px -15px


}

#logo img{
    height: 50px;
    margin: 30px 60px;

}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.4;

}
#navbar ul li{

    list-style: none;
    font-size: 1rem;
}
#navbar ul li a{
    color: white;
   display: block;
   padding: 5px 20px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
 background-color: white;
}


#Home{
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 35px 200px;
    justify-content: center;
    align-items: center;
}

#Home::before{
    content: "";
    background:url('../pexels-ray-piedra-1565982.jpg ') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 2;
}

#Home h1{
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai', cursive;
}

#Home p{
    color: white;
    text-align: center;
    font-size: .9rem;
    font-family: 'Bree Serif',serif;
}
#services{
    margin: 34px;
    display: flex;

}
#services .box{ 
    border: 4px solid brown;
    padding: 9px;
    margin: -14px 19px;
    border-radius: 30px;
    background: #f2f2f2;
    margin-bottom: 56px;
}


#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}
#services{}
/* client section */
#client-section{
height: 300px;
position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../pexels-christina-petsos-11568775.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    }
#client{
display: flex;
justify-content: center;
align-items: center;
}
.client-item{
    padding: 34px;
}

#client img{
  height: 85px;
    }
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../jonas-leupe-WargGLQW_Yk-unsplash.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,

#contact-box textarea{
    width: 100%;
    padding: 0.1rem;
    border-radius: 9px;
    font-size: 1rem;
} 
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
  
 
 }

footer{
    background: black;
    color: white; 
    padding: 9px 20px ;
}







/* utility class */
.h-primary{
        font-size: 3rem;
        padding: 12px;
        font-family: 'Bree Serif';
}
.h-secondary{
    font-size: 1.7rem;
    padding: 12px;
    font-family: 'Bree Serif';
}
.btn{
        padding: 6px 20px;
        border: solid white;
        background-color: brown;
        color: white;
        margin: 17px;
        font-size: 1.1rem;
        border-radius: 10px;
        cursor: pointer;
}
.center{
    text-align: center;
}